html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-size: 1.6rem;
        margin: 0;
    }
}

.header {
    background: #0A090C;
    padding: 2.4rem;
    color: #f9f9f9;

    .contents {
        max-width: 124rem;
        margin: auto;

        .page_title {
            font-size: 4rem;
            margin-bottom: 0.8rem;
        }

        .nav {
            .links {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;

                .item {
                    .link {
                        font-weight: 700;
                        font-size: 2rem;
                        text-decoration: none;

                        &:visited {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}

.s-site_plan {
    padding: 3.6rem 2.4rem;

    .info_block {
        max-width: 124rem;
        margin: auto;

        .title {
            font-size: 2.8rem;
        }

        .desc {
            font-size: 2rem;
            margin-bottom: 5.6rem;
        }

        .pallette {
            margin: 0 0 5.6rem;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;

            .swatch {
                text-align: center;
                color: #0A090C;
                padding: 1.6rem;

                &.primary {
                    color: #f9f9f9;
                    background-color: #231123;
                }

                &.secondary_1 {
                    background-color: #E76680;
                }

                &.secondary_2 {
                    background-color: #A9D2D5;
                }

                &.background {
                    color: #0A090C;
                    background-color: #f9f9f9;
                }

                &.typeface {
                    background-color: #f9f9f9;
                    color: #0A090C;
                }

                .text {
                    padding: 1.6rem 0;
                    margin: 0;
                    font-weight: 600;

                    &.uses {
                        font-weight: 400;
                        font-size: 1.4rem;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

.footer {
    padding: 4.8rem 2.4rem;
    background: #0A090C;

    .text {
        display: block;
        margin: auto;
        color: #f9f9f9;
        width: fit-content;
    }
}