.header {
    padding: 3rem 2rem;
    background: rgb(33, 39, 60);
    background: linear-gradient(90deg, rgba(33, 39, 60, 1) 0%, rgba(35, 73, 87, 1) 29%, rgba(33, 39, 60, 1) 100%);

    .contents {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;

        .profile_picture {
            border-radius: 0.8rem;
        }

        .name {
            margin-left: 3.2rem;
            color: #f9f9f9;
        }
    }
}

.nav {
    position: relative;
    background: #0F0F0F;
    min-height: 5.2rem;
    border-bottom: 2px solid transparent;

    .mobile-toggle {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        outline: none;
        border: none;

        .icon {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .contents {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        opacity: 0;
        height: 0rem;
        overflow-y: hidden;
        transition: all 300ms;

        &.open {
            opacity: 1;
            height: 21.08rem;
        }

        .item {
            padding: 1.6rem 2rem;
            min-height: 5.2rem;
            width: 100%;
        }

        .page_link {
            display: block;
            font-weight: 500;
            font-size: 1.8rem;
            text-align: center;
            margin: auto;
            color: #f9f9f9;
            text-decoration: none;
            transition: color 300ms;

            &.active,
            &:hover {
                color: white;
            }
        }
    }
}

.s-home {
    padding: 0 2rem 3.2rem;
    position: relative;

    .course_title {
        padding: 4rem 5.2rem 4rem 0;
        margin: 0 0 4rem;
    }

    .theme-toggle {
        position: absolute;
        top: 2.5rem;
        right: 0;
        background: none;
        border: none;

        .icon {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .card {
        border: 0.2rem solid rgba(35, 73, 87, 1);

        .text_contents {
            padding-right: 2rem;
        }

        .title {
            padding: 1.6rem;
            margin: 0;
            color: white;
            background: rgba(35, 73, 87, 1);
            background: linear-gradient(27deg, rgba(35, 73, 87, 1) 0%, rgba(18, 73, 93, 1) 100%);
        }

        &.learning_activites {
            .list {
                list-style-type: none;
                padding-left: 3rem;

                .item {
                    font-weight: 500;

                    &:not(:last-child) {
                        margin-bottom: 1.6rem;
                    }

                    .sub_text {
                        display: block;
                        margin-bottom: 0.4rem;
                    }

                    .sub_link {
                        color: rgba(35, 73, 87, 1);
                        text-decoration: none;

                        &:not([href]) {
                            font-size: 1.2rem;
                            color: black;
                        }
                    }
                }
            }
        }

        &.information {
            margin-top: 2rem;

            .text_contents {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 3rem;

                .text {
                    font-weight: 500;
                }

                .weather {
                    display: flex;
                    align-items: center;

                    .weather_icon {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }
}

body.t-dark {
    background: #0F0F0F;

    .nav {
        border-bottom: 0.2rem solid rgba(35, 73, 87, 1);
    }

    .s-home {
        .course_title {
            color: #f9f9f9;
        }

        .card {
            &.learning_activites {
                .list {
                    .item {
                        .sub_text {
                            color: #f9f9f9;
                        }

                        .divider {
                            color: #f9f9f9;
                        }

                        .sub_link {
                            color: #f9f9f9;
                            text-decoration: underline;
                            text-underline-offset: 0.3rem;

                            &:not([href]) {
                                color: #f9f9f9;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            &.information {
                .text_contents {
                    color: #f9f9f9;
                }
            }
        }
    }

    .footer {
        border-top: 0.2rem solid rgba(35, 73, 87, 1);
    }
}

.footer {
    background: #0F0F0F;
    color: #f9f9f9;
    padding: 3.2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid transparent;

    .text {
        margin: 0;
    }

    .copyright {
        font-weight: 600;
    }

    .last_modified {
        font-size: 1.2rem;
        margin-top: 0.8rem;
    }
}